<template lang='pug'>
    .about
      .desc
        h2.title(animate='title') {{ title }}
        h3.subtitle(animate='subtitle')  {{ subtitle }}
        p.text(v-html='text', animate='text')

      ul.social
        li(animate='fb')
          a(:href='facebook', target='_blank') Facebook
        li(animate='ln')
          a(:href='linkedin', target='_blank') Linkedin
        li(animate='rm')
          a(:href='resume', target='_blank') Resume

</template>

<script>

import TweenMax from 'TweenMax'

export default{

    name:  'about',
    data(){
        return require('assets/data/about.json')
    },

    created() {
      document.title = 'Ruben - About'
      // TweenMax.fromTo(document.querySelector("[animate='title']"), 1, {alpha: 0}, {alpha: 1})
    },

    mounted() {
      this.$parent.$children[0].goWhite()
      this.$parent.$children[0].showPageNav("about");
      TweenMax.fromTo(this.$el.querySelector("[animate='title']"), .8, {alpha: 0, y: 20}, {y: 0, alpha: 1})
      TweenMax.fromTo(this.$el.querySelector("[animate='subtitle']"), .4, {alpha: 0, y: 20}, {y: 0, alpha: 1, delay: .4})
      TweenMax.fromTo(this.$el.querySelector("[animate='text']"), .4, {alpha: 0, y: 20}, {y: 0, alpha: 1, delay: .3})
      TweenMax.fromTo(this.$el.querySelector("[animate='fb']"), .4, {alpha: 0, x: 20}, {alpha: 1, x: 0, delay: .2})
      TweenMax.fromTo(this.$el.querySelector("[animate='ln']"), .4, {alpha: 0, x: 20}, {alpha: 1, x: 0, delay: .4})
      TweenMax.fromTo(this.$el.querySelector("[animate='rm']"), .4, {alpha: 0, x: 20}, {alpha: 1, x: 0, delay: .6})
    }
}
</script>

<style lang='scss' scoped>
  @import "./../elements/utils.scss";
  .about {
    width: 100vw;
    height: 100vh;
    color: white;
  }

  .desc {
    width: 100/6*2 + vw;
    position: absolute;
    left: 100/6 + vw;
    top: 50%;
    transform: translateY(-50%);

    .title {
      font-size: rem(48px);
      line-height: rem(48px);
      letter-spacing: 1.25px;
      font-weight: 100;
    }
    .subtitle {
      font-size: rem(11px);
      line-height: rem(35px);
      font-weight: 500;
      letter-spacing: 1.25px;
      text-transform: uppercase;
      margin-top: $spacing-ver / 2;
      position: absolute;
      left: -55px;
      transform: translateX(-100%);
    }
    .text {
      margin-top: $spacing-ver / 2;
      font-size: rem(19px);
      line-height: rem(35px);
      letter-spacing: 0.25px;
    }

  }

  .social {
    a {
      color: white;
      text-decoration: none;
      font-size: rem(11px);
      line-height: rem(25px);
      letter-spacing: 1.25px;
      text-transform: uppercase;
      font-weight: 500;
    }
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    left: 100/6 * 4 + vw;
    li {
      margin-top: 15px;

    }
    li:first-child {
      margin-top: 0px;
    }

  }

</style>