<template lang='pug'>
  .case
    ul.info
      li(animate='info-1')
        p.title DELIVERBLES
        p.text {{ info.deliver }}
      li(animate='info-2')
        p.title role
        p.text {{ info.role }}
      li(animate='info-3')
        p.title client
        p.text {{ info.client }}
      li(animate='info-4')
        p.title status
        p(v-if='info.status.type == "text"', class='text') {{ info.status.text }}
        a(v-if='info.status.type == "link"', class='text', :href='info.status.link') launch project

    section.image(animate='image')
      img( :src='image', alt='header image')
      .text
        h2.title(animate='title') {{ title }}
        h3.subtitle(animate='subtitle') {{ subtitle }}

    section.desc
      p(v-html='description', reveal='0')

    section.about(reveal='0')
      h4.title About this project
      p.text {{ about }}


    section.logo(reveal='0')
      img( :src='logo', alt='logo image')

    section.quote(reveal='0')
      p {{ quote }}

    section.colors
      div.color(v-for="(color, index) in colors", :style='color.style', :reveal='index / 5')
        .hex {{ color.hex }}
        .cmyk {{ color.cmyk }}
        .name {{ color.name }}

    section.identity(reveal=".2")
      h3.title identity
      p.text {{ identity }}

    .section.images
      img(v-for="(image, index) in images", :class='image.class', :src='image.image', reveal=".2")


</template>


<script>

//


// Define cases data
const cases = {
  'frontaal': require('assets/data/case/frontaal.json'),
  'wattnou': require('assets/data/case/wattnou.json'),
  'paintings': require('assets/data/case/paintings.json'),
  'wondermonster': require('assets/data/case/wondermonster.json'),
  'livingpaintings': require('assets/data/case/livingpaintings.json'),
  'director': require('assets/data/case/director.json')
}



// Component
export default{
    data(){
        return cases[this.$route.params.name]
    },
    created() {
      document.title = cases[this.$route.params.name].title
    },
    mounted() {

      // Show dark menu
      this.$parent.$children[0].goDark()
      this.$parent.$children[0].showPageNav("case");

      // Animation
      TweenMax.fromTo(this.$el.querySelector("[animate='info-1']"), .4, {alpha: 0, y: 20}, {y: 0, alpha: 1})
      TweenMax.fromTo(this.$el.querySelector("[animate='info-2']"), .4, {alpha: 0, y: 20}, {y: 0, alpha: 1, delay: .1})
      TweenMax.fromTo(this.$el.querySelector("[animate='info-3']"), .4, {alpha: 0, y: 20}, {y: 0, alpha: 1, delay: .2})
      TweenMax.fromTo(this.$el.querySelector("[animate='info-4']"), .4, {alpha: 0, y: 20}, {y: 0, alpha: 1, delay: .3})
      TweenMax.fromTo(this.$el.querySelector("[animate='image']"), .8, {alpha: 0, y: 20}, {y: 0, alpha: 1, delay: 0})
      TweenMax.fromTo(this.$el.querySelector("[animate='title']"), .4, {alpha: 0, y: 20}, {y: 0, alpha: 1, delay: .4})
      TweenMax.fromTo(this.$el.querySelector("[animate='subtitle']"), .4, {alpha: 0, y: 20}, {y: 0, alpha: 1, delay: .5})

      var revealObjects = this.$el.querySelectorAll("[reveal]");

      [].forEach.call(revealObjects, function(v,i,a) {
        TweenMax.set(v, {alpha: 0, y: 20})
      });

      window.onscroll = () => {

        if(document.body.scrollTop > 150) this.$parent.$children[0].goFixed();
        else this.$parent.$children[0].goStatic();


        [].forEach.call(revealObjects, function(v,i,a) {
          if(document.body.scrollTop > v.offsetTop - (document.body.clientHeight) + (document.body.clientHeight / 4)) {
            TweenMax.to(v, .4, {y: 0, alpha: 1, delay: v.attributes.reveal.value})
          }
        });

      }


    }

}

</script>



<style lang='scss' scoped>

  @import "./../elements/utils.scss";

  .case {
    background: $color-gray-extra-light;
  }

  .info {
    padding: 210px 100/6 + vw 0;
    color: $color-dark;

    li {
      width:  25%;
      display: inline-block;
    }

    .title {
      font-size: rem(11px);
      line-height: rem(20px);
      letter-spacing: 1.25px;
      font-weight: 500;
      text-transform: uppercase;
      color: #515151;

    }

    .text {
      font-size: rem(13px);
      line-height: rem(25px);
      letter-spacing: .25px;
      color: #303333;

    }
  }

  .image {
    width: 100%;
    margin: 0 auto;
    height: 750px;
    position: relative;
    margin-top: 60px;
    clear: both;
    img {
      position: absolute;
      left: $spacing-hor;
      top: 0;
      width: unquote(calc(100% - (2 * #{$spacing-hor})));
      height: 100%;
      object-fit: cover;
    }

    .text {
      position: absolute;
      left: 100/6 + vw;
      top: 50%;
      transform: translateY(-50%);
      color: white;
      font-weight: 100;

      .title {
        font-size: rem(64px);
        line-height: rem(84px);
        letter-spacing: 1.75px;
      }

      .subtitle {
        font-size: rem(48px);
        letter-spacing: 1.25px;
        line-height: rem(68px);

      }

    }

  }

  .desc {
    padding-left: 100/6 + vw;
    padding-right: 100/3 + vw;
    margin-top: 120px;
    font-size: rem(18px);
    line-height: rem(35px);
    color: #131414;
  }

  .about {
    margin-top: 60px;
    padding: 0 100/6 + vw;

    .title {
      font-size: rem(11px);
      text-transform: uppercase;
      letter-spacing: 1.25px;
      line-height: rem(25px);

      font-weight: 500;
      color: #515151;
    }

    .text {
      margin-top: 15px;
      font-size: rem(13px);
      line-height: rem(30px);
      column-count: 2;
      column-gap: 20px;
      padding-right: 20px;
      color: #303333;
    }

  }

  .logo {
    margin: 120px auto 0;
    background: $color-gray-light;
    width: unquote(calc(100% - (2 * #{$spacing-hor})));
    height: 600px;
    position: relative;
    img {
      width: 50%;
      max-width: 150px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%)
    }

  }

  .quote {
    margin: 120px auto 0;
    width: unquote(calc(100% - (2 * #{$spacing-hor})));
    height: 600px;
    position: relative;
    background: white;
    p {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: unquote(calc(100% - (2 * #{$spacing-hor})));
      max-width: 680px;
      text-align: center;
      font-size: rem(19px);
      letter-spacing: 0.25px;
      line-height: rem(35px);

    }
  }
  .colors {
    width: 100/6 * 4 + vw;
    margin-left: 100/6 + vw;
    margin-top: 120px;
    display: flex;
    .color {
      width: 100%;
      height: 250px;
      color: white;
      font-size: rem(13px);
      line-height: rem(15px);
      letter-spacing: .25px;
      position: relative;
    }

    .hex {
      top: 20px;
      left: 15px;
      position: absolute;
    }

    .cmyk {
      left: 50%;
      top: 20px;
      transform: translateX(-50%);
      position: absolute;
    }

    .name {
      bottom: 20px;
      right: 15px;
      font-weight: 500;
      position: absolute;
    }
  }

  .identity {
    margin-top: 60px;
    width: 100/6 * 2 + vw;
    margin-left: 100/6 + vw;
    .title {
      font-size: rem(11px);
      text-transform: uppercase;
      letter-spacing: 1.25px;
      line-height: rem(25px);
      font-weight: 500;
      color: #515151;
    }

    .text{
      margin-top: 15px;
      font-size: rem(13px);
      line-height: rem(25px);
      color: #303333;
    }
  }

  .images {
    img {
      margin-top: 120px;

      &.full {
        width: 100%;
      }

      &.padded {
        margin-left: $spacing-hor;
        width: unquote(calc(100% - (2 * #{$spacing-hor})));
      }

    }
  }

</style>

