<template lang='pug'>
    h1 home
</template>
<style lang='scss' scoped>

</style>
<script>
export default{
  data(){
    return{
        msg: 'hello vue'
    }
  },
  created() {
    document.title = 'Ruben'
    const mainElement = document.querySelector('main#pages')
    mainElement.classList = 'intro'
  }
}
</script>
