<template lang='pug'>
  .slider
    nav.pagination
      .pagina(v-for="(item, index) in items", :class='item.state')
</template>
<style lang='scss' scoped>
  @import "./../elements/utils.scss";
  .slider {
    width: 100vw;
    height: 100vh;
  }

  .pagination {
    position: absolute;
    bottom: $spacing-ver;
    left: $spacing-hor;
    z-index: 10;
  }

  .pagina {
    display: inline-block;
    width: 30px;
    height: 2px;
    background: $color-gray;
    margin-right: 10px;
    border-radius: 2px;
    cursor: pointer;
    transition: .4s all;

    &.active {
      background: #FFFFFF;
      box-shadow: 0px 0px 4px 0px #FFFFFF;
    }

  }
</style>
<script>
export default{
    data(){
        return require('assets/data/slider.json')
    },
    created() {
      document.title = 'Ruben - Cases'
      dynamic.showSlider()
    },
    mounted() {
        this.$parent.$children[0].goWhite()
        this.$parent.$children[0].showPageNav("slider");
    }
}
</script>

