// Some bower components
@import "utils";

//// elements
@import "variables";
@import "typography";

// Global styles
body, html {
  width: 100%;
  height: 100%;
  @include rem-baseline;
  overflow-x: hidden;
}

body {
  font-family: $font-default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: rem(16px);
}

* {
  box-sizing: border-box;
}

#pages {
  width: 100vw;
  position: absolute;
}