$font-path: '~assets/fonts/';
@font-face {
  font-family: 'Graphik';
  src: url('#{$font-path}Graphik-Black.eot'); /* IE9 Compat Modes */
  src: url('#{$font-path}Graphik-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$font-path}Graphik-Black.woff') format('woff'), /* Modern Browsers */
  url('#{$font-path}Graphik-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('#{$font-path}Graphik-Black.svg#ee1d19d0ea4100c335bc177bd279a8d4') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  800;
}

@font-face {
  font-family: 'Graphik';
  src: url('#{$font-path}Graphik-BlackItalic.eot'); /* IE9 Compat Modes */
  src: url('#{$font-path}Graphik-BlackItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$font-path}Graphik-BlackItalic.woff') format('woff'), /* Modern Browsers */
  url('#{$font-path}Graphik-BlackItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('#{$font-path}Graphik-BlackItalic.svg#bd620cc96ba4e2907a4823db606a5ddf') format('svg'); /* Legacy iOS */

  font-style:   italic;
  font-weight:  800;
}

@font-face {
  font-family: 'Graphik';
  src: url('#{$font-path}Graphik-Bold.eot'); /* IE9 Compat Modes */
  src: url('#{$font-path}Graphik-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$font-path}Graphik-Bold.woff') format('woff'), /* Modern Browsers */
  url('#{$font-path}Graphik-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('#{$font-path}Graphik-Bold.svg#a5f6a8da010e3a19da65077e53766985') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Graphik';
  src: url('#{$font-path}Graphik-BoldItalic.eot'); /* IE9 Compat Modes */
  src: url('#{$font-path}Graphik-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$font-path}Graphik-BoldItalic.woff') format('woff'), /* Modern Browsers */
  url('#{$font-path}Graphik-BoldItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('#{$font-path}Graphik-BoldItalic.svg#79e4ca19280a6b2252a3acaea4635e8e') format('svg'); /* Legacy iOS */

  font-style:   italic;
  font-weight:  700;
}

@font-face {
  font-family: 'Graphik';
  src: url('#{$font-path}Graphik-Extralight.eot'); /* IE9 Compat Modes */
  src: url('#{$font-path}Graphik-Extralight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$font-path}Graphik-Extralight.woff') format('woff'), /* Modern Browsers */
  url('#{$font-path}Graphik-Extralight.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('#{$font-path}Graphik-Extralight.svg#e964fc8e37154b6362510caebbb34bbc') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  100;
}

@font-face {
  font-family: 'Graphik';
  src: url('#{$font-path}Graphik-ExtralightItalic.eot'); /* IE9 Compat Modes */
  src: url('#{$font-path}Graphik-ExtralightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$font-path}Graphik-ExtralightItalic.woff') format('woff'), /* Modern Browsers */
  url('#{$font-path}Graphik-ExtralightItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('#{$font-path}Graphik-ExtralightItalic.svg#fcf681c7f2f481103050ecddc1d8421c') format('svg'); /* Legacy iOS */

  font-style:   italic;
  font-weight:  100;
}

@font-face {
  font-family: 'Graphik';
  src: url('#{$font-path}Graphik-Light.eot'); /* IE9 Compat Modes */
  src: url('#{$font-path}Graphik-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$font-path}Graphik-Light.woff') format('woff'), /* Modern Browsers */
  url('#{$font-path}Graphik-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('#{$font-path}Graphik-Light.svg#6f2ed771e7f1d1c53771d839c57af261') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Graphik';
  src: url('#{$font-path}Graphik-LightItalic.eot'); /* IE9 Compat Modes */
  src: url('#{$font-path}Graphik-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$font-path}Graphik-LightItalic.woff') format('woff'), /* Modern Browsers */
  url('#{$font-path}Graphik-LightItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('#{$font-path}Graphik-LightItalic.svg#770ef51beeb2047d1f073b0edee00bc1') format('svg'); /* Legacy iOS */

  font-style:   italic;
  font-weight:  200;
}

@font-face {
  font-family: 'Graphik';
  src: url('#{$font-path}Graphik-Medium.eot'); /* IE9 Compat Modes */
  src: url('#{$font-path}Graphik-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$font-path}Graphik-Medium.woff') format('woff'), /* Modern Browsers */
  url('#{$font-path}Graphik-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('#{$font-path}Graphik-Medium.svg#79890569438fe27189629f56b9138446') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  500;
}

@font-face {
  font-family: 'Graphik';
  src: url('#{$font-path}Graphik-MediumItalic.eot'); /* IE9 Compat Modes */
  src: url('#{$font-path}Graphik-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$font-path}Graphik-MediumItalic.woff') format('woff'), /* Modern Browsers */
  url('#{$font-path}Graphik-MediumItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('#{$font-path}Graphik-MediumItalic.svg#a154518664b80c6775bd2a501568c05e') format('svg'); /* Legacy iOS */

  font-style:   italic;
  font-weight:  500;
}

@font-face {
  font-family: 'Graphik';
  src: url('#{$font-path}Graphik-Regular.eot'); /* IE9 Compat Modes */
  src: url('#{$font-path}Graphik-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$font-path}Graphik-Regular.woff') format('woff'), /* Modern Browsers */
  url('#{$font-path}Graphik-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('#{$font-path}Graphik-Regular.svg#bad6087e6b544a21c0bf58b844e74cb2') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Graphik';
  src: url('#{$font-path}Graphik-RegularItalic.eot'); /* IE9 Compat Modes */
  src: url('#{$font-path}Graphik-RegularItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$font-path}Graphik-RegularItalic.woff') format('woff'), /* Modern Browsers */
  url('#{$font-path}Graphik-RegularItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('#{$font-path}Graphik-RegularItalic.svg#1dc0b4b60444ebb3dfa832be9d7cff48') format('svg'); /* Legacy iOS */

  font-style:   italic;
  font-weight:  400;
}

@font-face {
  font-family: 'Graphik';
  src: url('#{$font-path}Graphik-Semibold.eot'); /* IE9 Compat Modes */
  src: url('#{$font-path}Graphik-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$font-path}Graphik-Semibold.woff') format('woff'), /* Modern Browsers */
  url('#{$font-path}Graphik-Semibold.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('#{$font-path}Graphik-Semibold.svg#4748abb9228e48e80988f120bb3cfbb6') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  600;
}

@font-face {
  font-family: 'Graphik';
  src: url('#{$font-path}Graphik-SemiboldItalic.eot'); /* IE9 Compat Modes */
  src: url('#{$font-path}Graphik-SemiboldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$font-path}Graphik-SemiboldItalic.woff') format('woff'), /* Modern Browsers */
  url('#{$font-path}Graphik-SemiboldItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('#{$font-path}Graphik-SemiboldItalic.svg#a99086677832dcd4f057ba4602940d1c') format('svg'); /* Legacy iOS */

  font-style:   italic;
  font-weight:  600;
}



