$font-path: '~assets/fonts/';
$font-default: Graphik, sans-serif;

$color-dark: #131414;
$color-gray: #404040;
$color-gray-light: #EAEAEC;
$color-gray-extra-light: #F8F8F8;

$spacing-hor: 60px;
$spacing-ver: 50px;