<template lang="pug">
  section#menu

    include ./../svg.pug

    .gradient.top
      .bar
    .lines
      .line
      .line
      .line
      .line
      .line
      .line

    div(onpage="slider")
      router-link.menu-item.left(to="about")
        +svg('btn_about', 18, 20)
      a.menu-item.right(page="slider")
        +svg('btn_sound', 20, 15)
    div(onpage="about")
      router-link.menu-item.left(to="slider")
        +svg('btn_close', 18, 20)
      a.menu-item.right(page="slider")
        +svg('btn_sound', 20, 15)
    div(onpage="case")
      router-link.menu-item.left(to="/slider")
        +svg('btn_back', 18, 20)
      .menu-item.right.scroll-up( v-on:click="scrollToTop")
        +svg('btn_up', 20, 15)


</template>
<style scoped lang="scss">
  @import "./../elements/utils.scss";

  svg {
    fill: white;
  }

  .glow {
    filter: blur(3px);
    -webkit-filter: blur(3px);
    opacity: 0;
    transition: 1s all;
  }

  .scroll-up {
    opacity: 0;
  }


  #menu {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 0px;
    left: 0;
    z-index: 10;
    transition: .4s all;
    &.dark {
      svg {
        fill: #404040;
      }
    }

    &.fixed {
      background: rgba(255, 255, 255, 1);
      height: 60px;
      box-shadow: 1px 1px 4px rgba(0, 0, 0, .1);

      .scroll-up {
        opacity: 1;
      }

      svg:not(".glow") {
        opacity: .8;
        fill: $color-dark;
      }

      .menu-item {
        top: 32px;
      }

      .gradient {
        height: 5px;
      }

    }


  }

  .menu-item {
    position: absolute;
    top: 75px;
    cursor: pointer;

    transform: translateY(-50%);
    z-index: 20;
    transition: .4s all;


    &.left {
      left: $spacing-hor;
    }

    &.right {
      right: $spacing-hor;
    }

    &:hover {
      .glow {
        opacity: 1;
      }
    }

  }

  .lines {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
  }

  .line {
    width: 100/6 + vw;
    border-right: 1px solid #C3C3C3;
    opacity: .15;
    height: 100vh;
    float: left;
  }

  @include mq($until: tablet) {
    .lines {
      display: none;
    }
  }

  .gradient {

    @keyframes gradient {
      0%, 100% {transform: translateX(-50%)}
      50% {transform: translateX(0%)}
    }

    height: 10px;
    position: fixed;
    width: 100vw;
    overflow: hidden;
    z-index: 2;
    top: 0;
    transition: .4s all;

    &.state-scrolling {
      height: 60px;
      opacity: .9;
    }

    .bar {
      background: linear-gradient(90deg, #FCD0EF 0%, #FAE8DD 12.5%, #C1F0FD 25%, #CFFBD1 37.5%, #ECF4C7 50%, #CFFBD1 62.5%, #C1F0FD 75%, #FAE8DD 87.5%, #FCD0EF 100%);
      height: 100%;
      width: 200vw;
      animation: gradient 4s infinite;

      position: absolute;
    }

    &.top { top: 0; }
    &.bottom { bottom: 0; }
  }


</style>
<script>
export default{
  name: 'header-component',
  mounted() {
      var pageElements = this.$el.querySelectorAll("[onpage]");
      [].forEach.call(pageElements, function(v,i,a) {
          TweenMax.set(v, {alpha: 0});
      });
  },
  methods: {
    goDark() {
      this.$el.classList.add("dark")
    },
    goWhite() {
      this.$el.classList.remove("dark")
    },
    goFixed() {
      this.$el.classList.add("fixed")
    },

    goStatic() {
      this.$el.classList.remove("fixed")
    },

    showPageNav(page) {
      var pageElements = this.$el.querySelectorAll("[onpage]");

      [].forEach.call(pageElements, function(v,i,a) {
        TweenMax.to(v, .4, {alpha: 0, blur})
      });

      var pageElementsActive = this.$el.querySelectorAll("[onpage='" + page + "']");

      [].forEach.call(pageElementsActive, function(v,i,a) {
        TweenMax.to(v, .4, {alpha: 1, delay: .4})
      });
    },

    scrollToTop() {
      TweenMax.to(document.body, 1, {scrollTop: 0})
    }


  }



}
</script>
