mixin svg(icon, width, height)
    span.svg(class!= "svg-" + icon, style="display: inline-block; position: relative;")
        svg(width!= width, height!= height)
            use(xlink:href!= "#" + icon)
        svg.glow(width!= width, height!= height, style="position: absolute; left: 0; z-index: -1;")
            use(xlink:href!= "#" + icon)